$bg: $background;

$color_active: $color5;
$color_inactive: rgba($color_active, 0.3);
$fg: $color4;

.pomo_window {
    background-color: transparent;
    font-family: Google Sans Code Semibold;
    font-size: 24px;
}
.pomo-widget-container {
    background-color: rgba($bg, 0.9);
    border-radius: 78px;
    padding-left: 20px;
    padding-right: 20px;
    //padding-top: 20px;
    //padding-bottom: 20px;
    //padding: 50px;
}
.pomo-timer-eventbox {
    background-color: transparent;
    color: $color_inactive;
}
.pomo-timer-eventbox:hover {
    background-color: transparent;
    color: $color_active;
}

.pomo-overlay-container-running {
    color: $color_active;
}

.pomo-progress {
    color: inherit;
    transition: color 0.14s ease-in-out
}
.pomo-progress-background {
    color: $color_inactive;
}

.pomo-timer-text {
    font-family: Google Sans Code;
    font-weight: 600;
    font-size: 24px;
    transition: color 0.14s ease-in-out
}

.pomo-clock-container {
    color: $fg;
    padding-top: 20px;
}
.pomo-clock-date-container {
    font-family: Google Sans Code;
    font-size: 16px;
}
